.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('bg.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:white;
}
.hero {
  background: url('hero2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:620px;
  

  height:650px;  
}
h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}
.frosty {
  background:rgba(0,0,0, 0.5);
  font-family: "Helvetica Neue", Helvetica;
  color: White;
}
.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 20;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
